<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id ="default-handler-mapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
	<!-- BeanNameUrlHandlerMapping이 bean의 name과 url을 연결시켜준다. -->
	<bean name="/di/insaList.sp" class="com.di.ListController">
	<!-- property 이름은 반드시 setter메소드의 이름과 같아야 한다 -->
 		<property name="insaBean"> <!-- setter 주입법 -->
			<list>
				<value>Hi!</value>
				<value>Hava a good time!</value>
				<value>Hava a nice day!</value>
			</list>
		</property>
	</bean>
	<bean name="/di/insaMap.sp" class="com.di.MapController">
 		<property name="insaMsg"> <!-- setter 주입법 -->
			<map>
				<entry>
					<key><value>one</value></key>
					<value>안녕</value>
				</entry>
				<entry>
					<key><value>two</value></key>
					<value>좋은아침입니다</value>
				</entry>
				<entry>
					<key><value>three</value></key>
					<value>굿밤</value>
				</entry>
			</map>
		</property>
	</bean>
<!-- 	<bean id="default-handler-mapping" 
		<bean name="/di/myCar.sp" class="com.di.Pride"/>	
			class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
	name은 url 요청에 대해서 받는다(RequestMapping과 같은 역할) -> class는 nameUrl 요청에 대해서 처리할 클래스 
	<bean name="/di/hello.sp" class="com.spring4.mvc.HelloController"/> -->
	<bean id="url-mapping"
			class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
			<property name="mappings">
				<props>
					<prop key="/login.sp">auth-controller</prop>
				</props>
			</property>
	</bean>				
  	<bean id="auth-controller" class="com.spring4.mvc.AuthController">
		<property name="methodNameResolver" ref="auth-resolver"/>
		<!-- property의 name은 setter객체주입법 코드의 이름이어야 합니다. -->
		<property name="authLogic" ref="auth-logic"/>
  	</bean>
	<bean id="auth-resolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
		<property name="mappings">
			<props>
				<prop key="/login.sp">login</prop>
			</props>
		</property>
	</bean>	
	<!-- ModelAndView 사용시 배포 위치에 대한 선언 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>	
</beans>

